body {
    background-color: rgb(186, 210, 248);
}
p {
    font-size: 20px;
}
li {
    border-style: outset;
    
}
.container {
    margin: auto;
    text-align: center;
    border: solid;
    border-style: double;
    border-width: 10px;
    border-color: darkgoldenrod;
    color: rgb(30, 33, 243);
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.answer {
    width: auto;
    display: inline-block;
    background-color: darkgreen;
    color: white;
    font-size:30px;
    border-radius: 7px;
    padding: 20px;
}

.hide {
    display: none;
}
.show {
    display: block;
}